@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #000102;
    --cor-fundo: #020002;
    --cor-botao: #7589A0;
    --cor-caixas: #2C3844;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

main > section {
    background-color: var(--cor-caixas);
    padding: 8px;
    border-radius: 12px;
}

main > section > h1 {
    padding: 10px;
    margin: 10px;
}

main > section > p > input {
    width: min-content;
    display: inline-block;
    background-color: var(--cor-caixas);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin: 2px;
    padding: 4px;
}

main > section > p > input:hover {
    transform: scale(1.03);
    transition: all .5s ease;
}

main > section > p > label > button {
    background-color: var(--cor-botao);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
    padding: 4px;
    margin: 4px;
    border: none;
    border-radius: 8px;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
}